<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to "#{article.title}, id: #{article.id}", article %>
    </li>
  <% end %>
</ul>

<%= link_to "Create New Article", new_article_path, type: "button", class: "btn btn-primary" %>

<br>

<%= form_with url: destroy_user_session_path, method: :delete, data: { turbo_confirm: "Are you sure?" } do %>
  <button type="submit" class="btn btn-danger">Sign out</button>
<% end %>
